<%- include('partials/header.ejs'); -%>
<div class="container-compose">
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <label for="textTitle">Title</label>
        <input name="textTitle" type="text" id="textTitle">
        <label for="textTitle">Post</label>
        <textarea name="textPost" id="textPost" cols="40" rows="5"></textarea>
        <button name="button" type="submit">Publish</button>
    </form>
</div>


<%- include('partials/footer.ejs'); -%>